@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
main {
  width: 100%;
}

.inputs {
  background: #ffffff;
  border-radius: 40px;
  margin: 0 10px 0 10px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tittle__items {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #596172;
  margin-right: 10px;
}

.input__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 50px;
}

.input__tittle--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tittle__items--color {
  font-weight: 300;
  color: #949fb7;
  margin-right: 0;
}

.container {
  margin-left: 50px;
}

.input__type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.type__items:first-child {
  margin-top: 50px;
}

.type__items:not(:last-child) {
  margin-bottom: 15px;
}

.type {
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-right: 30px;
  /* 4 */
  color: #c1c8d7;
}

.type__column {
  min-height: 70%;
  max-width: 100%;
}

/*---------------Input---------------------*/
input[type=text] {
  border: 1px solid #d7dff2;
  padding: 7px 10px 7px 15px;
  border-radius: 7px;
}

input::-webkit-input-placeholder {
  color: #939aab;
}

input::-moz-placeholder {
  color: #939aab;
}

input:-ms-input-placeholder {
  color: #939aab;
}

input::-ms-input-placeholder {
  color: #939aab;
}

input::placeholder {
  color: #939aab;
}

.input--hover:hover {
  border-color: #abb4cb;
}

input,
select {
  outline: none;
}

._input .input--active:focus {
  background: #f7f8fa;
  border: 1px solid #abb4cb;
}

.label__error {
  font-size: 11px;
  line-height: 13px;
  /* identical to box height */
  position: absolute;
  color: #ed6262;
  top: 110%;
  left: 12%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  mix-blend-mode: normal;
}

.input--error {
  border: 1px solid #ed6262 !important;
}

._error {
  position: relative;
  padding: 5px;
}

input:disabled {
  border-color: #ebeef5;
  background: none;
}

input:disabled::-webkit-input-placeholder {
  color: #c2cde6;
}

input:disabled::-moz-placeholder {
  color: #c2cde6;
}

input:disabled:-ms-input-placeholder {
  color: #c2cde6;
}

input:disabled::-ms-input-placeholder {
  color: #c2cde6;
}

input:disabled::placeholder {
  color: #c2cde6;
}

.input--full:-moz-placeholder-shown {
  border: 1px solid #abb4cb;
}

.input--full:-ms-input-placeholder {
  border: 1px solid #abb4cb;
}

.input--full:placeholder-shown {
  border: 1px solid #abb4cb;
}

/*-----------------------------------------*/
.type__items:not(:last-child)::after {
  content: "";
  display: block;
  max-width: 100%;
  margin-top: 20px;
  height: 1px;
  background-color: #dddddd;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

input,
select {
  display: block;
  min-width: 200px;
}

/*--------------------------------------------------------------------*/
.select {
  color: #939aab;
  border: 1px solid #d7dff2;
  padding: 7px 10px 7px 15px;
  border-radius: 7px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("../strelka.svg") no-repeat right;
  background-position-x: calc(100% - 17px);
}

.select--hover:hover {
  background: url("../strelka--hover.svg") no-repeat right;
  background-position-x: calc(100% - 17px);
  border-color: #abb4cb;
}

.select--active:focus {
  background: #f7f8fa;
  border-color: #abb4cb;
  background: url("../strelka--active.svg") no-repeat right;
  background-position-x: calc(100% - 17px);
  color: #0f1b33;
}

.select:disabled {
  border-color: #ebeef5;
  color: #c2cde6;
}

/*-------------------------------password-----------------------------*/
._eye {
  position: relative;
}

.eye {
  width: 22px;
  height: 15px;
  position: absolute;
  background: url("../eye.svg") no-repeat right;
  top: 50%;
  left: 88%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

._eye--hover:hover .eye--hover {
  background: url("../eye--hover.svg") no-repeat right !important;
  top: 50%;
  left: 88%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

input[type=password] {
  border: 1px solid #d7dff2;
  padding: 7px 10px 7px 15px;
  border-radius: 7px;
}

.input__password:disabled {
  border-color: #ebeef5;
  color: #c2cde6;
}

.eye--disabled {
  background: url("../eye--disabled.svg") no-repeat right !important;
  top: 50%;
  left: 88%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

._input .input__password--active:focus {
  background: #f7f8fa;
  border: 1px solid #abb4cb;
}

._column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.eye--off {
  width: 22px !important;
  height: 19.15px !important;
  background: url("../eye--off.svg") no-repeat right !important;
  top: 50%;
  left: 88%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}