@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
@import "./varibalse.scss";
main {
  width: 100%;
}
.inputs {
  background: #ffffff;
  border-radius: 40px;
  margin: 0 10px 0 10px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.tittle__items {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #596172;

  margin-right: 10px;
}

.input__column {
  flex: 0 1 33.333%;
  padding: 50px;
}
.input__tittle--row {
  display: flex;
}
.tittle__items--color {
  font-weight: 300;
  color: #949fb7;
  margin-right: 0;
}
.container {
  margin-left: 50px;
}

.input__type {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.type__items:first-child {
  margin-top: 50px;
}
.type__items:not(:last-child) {
  margin-bottom: 15px;
}

.type {
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  letter-spacing: 1px;
  text-transform: uppercase;
  margin-right: 30px;
  /* 4 */

  color: #c1c8d7;
}
.type__column {
  min-height: 70%;
  max-width: 100%;
}
/*---------------Input---------------------*/
input[type="text"] {
  border: 1px solid #d7dff2;
  padding: 7px 10px 7px 15px;
  border-radius: 7px;
}
input::placeholder {
  color: #939aab;
}
.input--hover:hover {
  border-color: #abb4cb;
}
input,
select {
  outline: none;
}
._input {
  .input--active:focus {
    background: #f7f8fa;
    border: 1px solid #abb4cb;
  }
}
.label__error {
  font-size: 11px;
  line-height: 13px;
  /* identical to box height */
  position: absolute;
  color: #ed6262;
  top: 110%;
  left: 12%;
  transform: translate(-50%, -50%);
  mix-blend-mode: normal;
}
.input--error {
  border: 1px solid #ed6262 !important;
}
._error {
  position: relative;
  padding: 5px;
}
input:disabled {
  border-color: #ebeef5;
  background: none;
}
input:disabled::placeholder {
  color: #c2cde6;
}
.input--full:placeholder-shown {
  border: 1px solid #abb4cb;
}
/*-----------------------------------------*/
.type__items:not(:last-child)::after {
  content: "";
  display: block;
  max-width: 100%;
  margin-top: 20px;
  height: 1px;
  background-color: #dddddd;
}

.row {
  display: flex;
  align-items: center;
  padding: 5px;
}
input,
select {
  display: block;
  min-width: 200px;
}

/*--------------------------------------------------------------------*/
.select {
  color: #939aab;
  border: 1px solid #d7dff2;
  padding: 7px 10px 7px 15px;
  border-radius: 7px;
  appearance: none;
  background: url("../strelka.svg") no-repeat right;
  background-position-x: calc(100% - 17px);
}
.select {
  option li {
    padding: 12px 25px;
  }
}
.select--hover:hover {
  background: url("../strelka--hover.svg") no-repeat right;
  background-position-x: calc(100% - 17px);
  border-color: #abb4cb;
}
.select--active:focus {
  background: #f7f8fa;
  border-color: #abb4cb;
  background: url("../strelka--active.svg") no-repeat right;
  background-position-x: calc(100% - 17px);
  color: #0f1b33;
}

.select ul li.option {
}

._selector ul li.option:hover {
  background: #f7f8fa;

  color: #0f1b33;
}
._selector {
  min-width: 200px;
}

._selector ul li.option {
  z-index: 1;
  color: #939aab;
  border-radius: 7px;
  
  padding: 7px 10px 7px 15px;

  list-style: none;
}
#selectbox:not(.closed){
  border: 1px solid #abb4cb;
  box-sizing: border-box;
  border-radius: 7px;
}

._selector ul.closed li.option {
  display: none;
}

._selector ul.closed li:first-child {
  border: 1px solid #d7dff2;
  background: url("../strelka.svg") no-repeat right;
  background-position-x: calc(100% - 17px);
  display: block;
}

._selector ul li {
  cursor: default;
}
/*-------------------------------password-----------------------------*/

._eye {
  position: relative;
}
.eye {
  width: 22px;
  height: 15px;
  position: absolute;
  background: url("../eye.svg") no-repeat right;
  top: 50%;
  left: 88%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
._eye--hover:hover {
  .eye--hover {
    background: url("../eye--hover.svg") no-repeat right !important;
    top: 50%;
    left: 88%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
}
input[type="password"] {
  border: 1px solid #d7dff2;
  padding: 7px 10px 7px 15px;
  border-radius: 7px;
}
.input__password:disabled {
  border-color: #ebeef5;
  color: #c2cde6;
}
.eye--disabled {
  background: url("../eye--disabled.svg") no-repeat right !important;
  top: 50%;
  left: 88%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
._input {
  .input__password--active:focus {
    background: #f7f8fa;
    border: 1px solid #abb4cb;
  }
}
._column {
  display: flex;
  flex-direction: column;
}
.eye--off {
  width: 22px !important;
  height: 19.15px !important;
  background: url("../eye--off.svg") no-repeat right !important;
  top: 50%;
  left: 88%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
